{% extends "main.html" %}

{% block title %}Signup{% endblock %}

{% block head %}
    {{ super() }}
    
    <style>
        form {
            width: 400px;
            margin: 3em auto;
            text-align: center;
            border: solid #aaa 1px;
            padding: 20px 0;
        }
        form div {
            margin:1em;
            display: inline-block;
        }
        form input {
            margin: 0px 0;
            margin-left: 1em;
        }
        input[type="submit"] {
            display: block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}

    <form method="post" action="{{furl}}">
    {% for i in form._fields.values() %}
        {{ render_field(i) }}
    {% endfor %}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

{% endblock %}